<%- include('../partials/boilerplate-start') %>
<link rel="stylesheet" href="/css/learn/learn.css" />
<%- include('../partials/boilerplate-end') %> <%- include('../partials/header') %>

<main>
  <h2 class="learning-subject"> <%=languageLevel%></h2>
  <div class="lang-choices">
    <a href="/learn/<%=languageLevel%>/study">
      <div class="lang-choice learn-choice">
      <h2>Study</h2>
    </div>
  </a>

    <a href="/learn/<%=languageLevel%>/practice">
      <div class="lang-choice learn-choice">
      <h2>Practice</h2>
    </div>
  </a>

    <a href="/learn/<%=languageLevel%>/test">
    <div class="lang-choice learn-choice">
        <h2>Test</h2>
    </div>
    </a>

  </div>

  <h2 class="section-heading">Latest Activity</h2>
  <div class="latest-activity">
<% if (latestActivity.length > 0 ) { %>
    <% latestActivity.reverse().forEach((entry) => { %>
      <a href="/learn/<%=entry.languageLevel%>/study/<%=entry.languageLevelSubject%>/<%=entry.title%>">
      <div class="latest-activity-record">
        <h2><%=entry.languageLevel%></h2>
        <h5><%=entry.languageLevelSubject%></h5>
        <h4><%=entry.title%></h4>
      </div>
    </a>
    <% }) %>
<% } else { %>
  <h4>No recent activities. Start learning Now!</h4>
<% } %>
</div>

<h2 class="section-heading">Recomendations</h2>
<div class="recommendations">
<% if (recommendations.length > 0 ) { %>
  <% recommendations.forEach((entry) => { %>
    <a href="/learn/<%=entry.languageLevel%>/study/<%=entry.subject%>/<%=entry.title%>">
      <div class="recommendation">
        <h2><%=entry.languageLevel%></h2>
        <h5><%=entry.subject%></h5>
        <h4><%=entry.title%></h4>
      </div>
    </a>
    <% }) %>
<% } else { %>
  <h4>Oops! Something went wrong.</h4>
<% } %>
</div>
</main>
</main>

<%- include('../partials/contact-info') %>

<script src="/javascript/headerMenu.js"></script>

<%- include('../partials/footer') %>
