<%- include('../partials/boilerplate-start') %> 
<link rel="stylesheet" href="/css/user/user.css" />
<%- include('../partials/boilerplate-end') %> <%- include('../partials/header') %>

<main>
    <h2 class="learning-subject">User</h2>
    <div class="lang-choices">
        <a href="/user/test-history/A1" class="lang-choice">
          <div>
            <h2>A1</h2>
            <div>
              <h5>Average score: <%=overallUserScore.A1%>%</h5>
              <h4>Tests done: <%=numberOfTests.A1 %></h4>
            </div>
          </div>
        </a>
        <a href="/user/test-history/A2" class="lang-choice">
            <div>
              <h2>A2</h2>
              <div>
                <h5>Average score: <%=overallUserScore.A2%>%</h5>
                <h4>Tests done: <%=numberOfTests.A2 %></h4>
              </div>
            </div>
          </a>
          <a href="/user/test-history/B1" class="lang-choice">
            <div>
              <h2>B1</h2>
              <div>
                <h5>Average score: <%=overallUserScore.B1%>%</h5>
                <h4>Tests done: <%=numberOfTests.B1 %></h4>
              </div>
            </div>
          </a>
          <a href="/user/test-history/B2" class="lang-choice">
            <div>
              <h2>B2</h2>
              <div>
                <h5>Average score: <%=overallUserScore.B2%>%</h5>
                <h4>Tests done: <%=numberOfTests.B2 %></h4>
              </div>
            </div>
          </a>
          <a href="/user/test-history/C1" class="lang-choice">
            <div>
              <h2>C1</h2>
              <div>
                <h5>Average score: <%=overallUserScore.C1%>%</h5>
                <h4>Tests done: <%=numberOfTests.C1 %></h4>
              </div>
            </div>
          </a>
          <a href="/user/test-history/C2" class="lang-choice">
            <div>
              <h2>C2</h2>
              <div>
                <h5>Average score: <%=overallUserScore.C2%>%</h5>
                <h4>Tests done: <%=numberOfTests.C2 %></h4>
              </div>
            </div>
          </a>
        </div>
        <div class="notifications">
            <% notifications.forEach((notification) => { %>
                <div class="notification">
                    <h3><%=notification.title%></h3>
                    <p><%=notification.content%></p>
                    <form action="/user/delete-notification/<%=notification.title%>" method="POST">
                        <input type="hidden" value="<%=notification.content%>" name="notificationContent">
                        <button type="submit" class="delete"> <svg height="329pt" viewBox="0 0 329.26933 329" width="329pt" xmlns="http://www.w3.org/2000/svg"><path d="m194.800781 164.769531 128.210938-128.214843c8.34375-8.339844 8.34375-21.824219 0-30.164063-8.339844-8.339844-21.824219-8.339844-30.164063 0l-128.214844 128.214844-128.210937-128.214844c-8.34375-8.339844-21.824219-8.339844-30.164063 0-8.34375 8.339844-8.34375 21.824219 0 30.164063l128.210938 128.214843-128.210938 128.214844c-8.34375 8.339844-8.34375 21.824219 0 30.164063 4.15625 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921875-2.089844 15.082031-6.25l128.210937-128.214844 128.214844 128.214844c4.160156 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921874-2.089844 15.082031-6.25 8.34375-8.339844 8.34375-21.824219 0-30.164063zm0 0" /></svg></button>
                    </form>
                </div> 
            <% }) %>
        </div>
</main>

<!-- ADD RESET PROGRESS BUTTON -->

<script src="/javascript/headerMenu.js"></script>

<%- include('../partials/footer') %>