<%- include('../partials/boilerplate-start') %> 
<link rel="stylesheet" href="/css/user/user.css" />
<%- include('../partials/boilerplate-end', {loggedUser}) %> <%- include('../partials/header') %>

<main>
    <h2 class="learning-subject">User</h2>
    <div class="lang-choices">
        <a href="/user/test-history/A1" class="lang-choice">
          <div>
            <h2>A1</h2>
            <div>
              <h5>Average score: <%=overallUserScore.A1%>%</h5>
              <h4>Tests done: <%=numberOfTests.A1 %></h4>
            </div>
          </div>
        </a>
        <a href="/user/test-history/A2" class="lang-choice">
            <div>
              <h2>A2</h2>
              <div>
                <h5>Average score: <%=overallUserScore.A2%>%</h5>
                <h4>Tests done: <%=numberOfTests.A2 %></h4>
              </div>
            </div>
          </a>
          <a href="/user/test-history/B1" class="lang-choice">
            <div>
              <h2>B1</h2>
              <div>
                <h5>Average score: <%=overallUserScore.B1%>%</h5>
                <h4>Tests done: <%=numberOfTests.B1 %></h4>
              </div>
            </div>
          </a>
          <a href="/user/test-history/B2" class="lang-choice">
            <div>
              <h2>B2</h2>
              <div>
                <h5>Average score: <%=overallUserScore.B2%>%</h5>
                <h4>Tests done: <%=numberOfTests.B2 %></h4>
              </div>
            </div>
          </a>
          <a href="/user/test-history/C1" class="lang-choice">
            <div>
              <h2>C1</h2>
              <div>
                <h5>Average score: <%=overallUserScore.C1%>%</h5>
                <h4>Tests done: <%=numberOfTests.C1 %></h4>
              </div>
            </div>
          </a>
          <a href="/user/test-history/C2" class="lang-choice">
            <div>
              <h2>C2</h2>
              <div>
                <h5>Average score: <%=overallUserScore.C2%>%</h5>
                <h4>Tests done: <%=numberOfTests.C2 %></h4>
              </div>
            </div>
          </a>
        </div>
</main>

<script src="/javascript/headerMenu.js"></script>

<%- include('../partials/footer') %>