<%- include('../../partials/boilerplate-start') %>
<link rel="stylesheet" href="/css/learn/learn.css" />
<%- include('../../partials/boilerplate-end') %> <%- include('../../partials/header') %>

<main>
  <h2 class="learning-subject"><%=languageLevel%> <span>•</span> Practice </h2>
  <div class="lang-choices">
    <% if (practiceSubjects.length > 0) {%> 
    <% practiceSubjects.forEach((subject) => { %>
    <a href="practice/<%=subject.subject%>" class="lang-choice learn-choice">
      <div>
        <h2><%=subject.subject%></h2>
      </div>
    </a>
    <% }) %>
    <% } else {%>
      <h2>No Questions for this Language Level .</h2>
      <% } %>
  </div>
</main>

<%- include('../../partials/contact-info') %>

<script src="/javascript/headerMenu.js"></script>

<%- include('../../partials/footer') %>
