<%- include('../partials/boilerplate-start') %>
<link rel="stylesheet" href="css/landing/landing.css" />
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
<%- include('../partials/boilerplate-end', {loggedUser: {options: {darkmode: true}}} ) %>
<header>
  <div class="logo">
    <div class="logo">
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="flask" class="logo__icon svg-inline--fa fa-flask fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M437.2 403.5L320 215V64h8c13.3 0 24-10.7 24-24V24c0-13.3-10.7-24-24-24H120c-13.3 0-24 10.7-24 24v16c0 13.3 10.7 24 24 24h8v151L10.8 403.5C-18.5 450.6 15.3 512 70.9 512h306.2c55.7 0 89.4-61.5 60.1-108.5zM137.9 320l48.2-77.6c3.7-5.2 5.8-11.6 5.8-18.4V64h64v160c0 6.9 2.2 13.2 5.8 18.4l48.2 77.6h-172z"></path></svg>
        <h4 class="logo__brand">AngLab</h4>
    </div>
  </div>
  <nav>
    <ul>
      <a href="#cta"><li>Home</li></a>
      <a href="#opinions"><li>Opinions</li></a>
      <a href="#contact"><li>Contact</li></a>
      <a href="/login" class="featured"><li>Login</li></a>
    </ul>
  </nav>
</header>
<main>
  <section id="cta" class="cta">
    <div class="cta__text">
      <h1>Zacznij efektywnie uczyć się angielskiego!</h1>
      <h4>Zarejestruj się lub zaloguj, aby już teraz zacząć poszerzać swoją wiedzę...</h4>
      <div class="cta__buttons">
        <a href="/register"><button>Register</button></a>
        <a href="/login"><button class="invert-colors">Login</button></a>
      </div>
    </div>
      <svg id="b7798a4d-5163-44df-883c-b45df1683271" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="744" height="539.28592" viewBox="0 0 744 539.28592">
        <path d="M702.11417,584.643v130H376.41542c-37.109,0-67.30125-29.15983-67.30125-65s30.19221-65,67.30125-65Z" transform="translate(-228 -180.35704)" fill="#f2f2f2" />
        <path d="M710.11417,713.643a5.002,5.002,0,0,1-5,5h-334.5a68.5,68.5,0,1,1,0-137h334.5a5,5,0,0,1,0,10h-334.5a58.5,58.5,0,1,0,0,117h334.5A5.002,5.002,0,0,1,710.11417,713.643Z" transform="translate(-228 -180.35704)" fill="#ffdc62" />
        <path d="M702.11417,614.643h-350a1,1,0,1,1,0-2h350a1,1,0,0,1,0,2Z" transform="translate(-228 -180.35704)" fill="#ccc" />
        <path d="M702.11417,638.643h-350a1,1,0,1,1,0-2h350a1,1,0,0,1,0,2Z" transform="translate(-228 -180.35704)" fill="#ccc" />
        <path d="M702.11417,662.643h-350a1,1,0,1,1,0-2h350a1,1,0,0,1,0,2Z" transform="translate(-228 -180.35704)" fill="#ccc" />
        <path d="M702.11417,686.643h-350a1,1,0,1,1,0-2h350a1,1,0,0,1,0,2Z" transform="translate(-228 -180.35704)" fill="#ccc" />
        <path d="M953.83158,609.11391,872.26685,710.34235,618.65167,505.99212c-28.89608-23.283-34.11066-64.9324-11.62379-92.84043s64.29244-31.671,93.18852-8.388Z" transform="translate(-228 -180.35704)" fill="#f2f2f2" />
        <path d="M879.12372,714.583a5.002,5.002,0,0,1-7.03051.7563L611.62467,505.467a68.5,68.5,0,0,1,85.95667-106.6792L958.04988,608.66014a5,5,0,1,1-6.27421,7.7868L691.30713,406.57463a58.5,58.5,0,1,0-73.40825,91.10558L878.36742,707.55253A5.002,5.002,0,0,1,879.12372,714.583Z" transform="translate(-228 -180.35704)" fill="#ccc" />
        <path d="M935.009,632.47432,662.47086,412.877a1,1,0,1,1,1.25485-1.55736L936.26379,630.917a1,1,0,1,1-1.25484,1.55736Z" transform="translate(-228 -180.35704)" fill="#ccc" />
        <path d="M919.95085,651.16265,647.41276,431.56531a1,1,0,0,1,1.25484-1.55736L921.20569,649.60529a1,1,0,1,1-1.25484,1.55736Z" transform="translate(-228 -180.35704)" fill="#ccc" />
        <path d="M904.89274,669.851,632.35466,450.25364a1,1,0,0,1,1.25484-1.55737L906.14759,668.29361a1,1,0,1,1-1.25485,1.55736Z" transform="translate(-228 -180.35704)" fill="#ccc" />
        <path d="M889.83464,688.5393,617.29655,468.942a1,1,0,1,1,1.25485-1.55736L891.08948,686.98194a1,1,0,1,1-1.25484,1.55736Z" transform="translate(-228 -180.35704)" fill="#ccc" />
        <path d="M971,719.643H229a1,1,0,0,1,0-2H971a1,1,0,0,1,0,2Z" transform="translate(-228 -180.35704)" fill="#ccc" />
        <polygon points="338.081 390.622 326.649 390.621 321.212 346.525 338.085 346.527 338.081 390.622" fill="#ffb8b8" />
        <path d="M318.48241,387.35454h22.04781a0,0,0,0,1,0,0v13.88195a0,0,0,0,1,0,0H304.60048a0,0,0,0,1,0,0v0A13.88193,13.88193,0,0,1,318.48241,387.35454Z" fill="#2f2e41" />
        <polygon points="221.286 390.622 209.854 390.621 204.417 346.525 221.29 346.527 221.286 390.622" fill="#ffb8b8" />
        <path d="M201.68787,387.35454h22.04781a0,0,0,0,1,0,0v13.88195a0,0,0,0,1,0,0H187.80594a0,0,0,0,1,0,0v0A13.88193,13.88193,0,0,1,201.68787,387.35454Z" fill="#2f2e41" />
        <path d="M487.47085,243.89011v-5.00006a32.25,32.25,0,0,1,32.25-32.25h.00006a32.25,32.25,0,0,1,32.25,32.25v5.00006a23.25,23.25,0,0,1-23.25,23.25h-18A23.25,23.25,0,0,1,487.47085,243.89011Z" transform="translate(-228 -180.35704)" fill="#2f2e41" />
        <circle cx="291.72085" cy="63.94249" r="24.56103" fill="#ffb8b8" />
        <path d="M634.4877,376.4751" transform="translate(-228 -180.35704)" fill="#ffb8b8" />
        <path d="M386.12458,328.7126A9.377,9.377,0,0,1,400.40486,330.39l21.05462-3.98267,5.5409,12.20454-29.8122,5.2067a9.42779,9.42779,0,0,1-11.0636-15.106Z" transform="translate(-228 -180.35704)" fill="#ffb8b8" />
        <path d="M500.57256,284.32827l.27536.41722L466.3221,307.48986l-58.25831,18.60329a3.5078,3.5078,0,0,0-2.412,3.73827l1.2709,10.94662a3.50073,3.50073,0,0,0,4.21024,3.01849l54.82973-11.75277a19.80593,19.80593,0,0,0,7.37148-3.24548L512.122,301.20139a10.01984,10.01984,0,0,0,4.1584-8.94749,9.9752,9.9752,0,0,0-15.43253-7.50841Z" transform="translate(-228 -180.35704)" fill="#ccc" />
        <path d="M554.85319,558.46572a4.51847,4.51847,0,0,1-4.1377-2.70118l-52.40991-129.501a1.49982,1.49982,0,0,0-2.80859.1582L452.73868,552.4955a4.50087,4.50087,0,0,1-5.88159,2.89111l-14.33838-5.37695a4.48887,4.48887,0,0,1-2.897-3.70459c-6.45044-56.19238,49.80005-198.02978,50.36914-199.45556l.15747-.395,51.2771,11.34277.10669.11621c20.45777,22.31787,37.27344,163.082,40.43677,191.07373a4.47857,4.47857,0,0,1-2.97119,4.74658l-12.65625,4.47608A4.45661,4.45661,0,0,1,554.85319,558.46572Z" transform="translate(-228 -180.35704)" fill="#2f2e41" />
        <path d="M510.67252,362.36269c-12.42358,0-26.27441-2.477-30.53784-12.70068l-.09814-.23487.13256-.21777c3.36524-5.52149,7.813-14.94043,5.42237-16.7085-4.70923-3.48193-6.99439-9.21-6.79151-17.02539.44043-16.96582,12.00049-32.02881,28.76587-37.48242h.00025A127.64221,127.64221,0,0,1,521.829,274.3207a24.28073,24.28073,0,0,1,20.13257,4.97168,24.5264,24.5264,0,0,1,9.09594,18.8706c.17578,18.13086-2.61548,43.3833-16.91211,60.72022a4.44777,4.44777,0,0,1-2.633,1.53125A122.223,122.223,0,0,1,510.67252,362.36269Z" transform="translate(-228 -180.35704)" fill="#ccc" />
        <path d="M506.05111,361.68381a9.55593,9.55593,0,0,1,11.67847-6.66417,9.40742,9.40742,0,0,1,1.44781.53625l15.98666-14.54884,11.118,7.49027-22.86179,20.23092a9.53906,9.53906,0,0,1-10.81319,4.58661A9.39418,9.39418,0,0,1,506.05111,361.68381Z" transform="translate(-228 -180.35704)" fill="#ffb8b8" />
        <path d="M532.63175,361.86855a4.48762,4.48762,0,0,1-2.84546-1.01514l-6.30444-5.15185a4.49995,4.49995,0,0,1,.10913-7.05518l26.44165-20.27978a1.50334,1.50334,0,0,0,.28345-2.09473L533.99577,304.6957a13.28507,13.28507,0,0,1,.88745-17.11426h0a13.24793,13.24793,0,0,1,17.88769-1.43067l.10327.10889,17.042,24.40235a15.19267,15.19267,0,0,1-.36011,24.18554l-34.24561,26.13867A4.50736,4.50736,0,0,1,532.63175,361.86855Z" transform="translate(-228 -180.35704)" fill="#ccc" />
        <path d="M497.96524,237.39008V225.20393l21.75561-9.5,20.74439,9.5v12.18615a2,2,0,0,1-2,2h-38.5A2,2,0,0,1,497.96524,237.39008Z" transform="translate(-228 -180.35704)" fill="#2f2e41" />
        <path d="M518.72211,208.25668c-3.19879-10.23852,3.51931-21.97233,13.45085-26.025s21.81344-1.21974,30.19368,5.47588,13.57963,16.72441,16.33459,27.09118,3.27788,21.17682,3.7865,31.89135c12.20223,2.24139,20.50283,16.71428,16.27576,28.37833s-19.87268,17.45879-30.67781,11.3623-13.93468-22.48461-6.13639-32.1337a26.37385,26.37385,0,0,0-30.68776-40.9097C525.24773,215.90224,517.702,209.36793,518.72211,208.25668Z" transform="translate(-228 -180.35704)" fill="#2f2e41" />
        <path d="M381.61417,281.43984a104.44868,104.44868,0,0,1-42.34814-9.2749,4.47254,4.47254,0,0,1-2.65186-4.104V231.643a4.505,4.505,0,0,1,4.5-4.5h81a4.50508,4.50508,0,0,1,4.5,4.5v36.418a4.47272,4.47272,0,0,1-2.65185,4.104h0A104.44869,104.44869,0,0,1,381.61417,281.43984Z" transform="translate(-228 -180.35704)" fill="#ffdc62" />
        <path d="M381.60306,251.93691a4.50521,4.50521,0,0,1-1.74865-.35156l-64.23194-27.09961a4.49965,4.49965,0,0,1,.15308-8.353L380.00834,191.765a4.48365,4.48365,0,0,1,3.2113.00684l63.37207,24.36767a4.50012,4.50012,0,0,1,.15406,8.3379L383.373,251.57656A4.507,4.507,0,0,1,381.60306,251.93691Z" transform="translate(-228 -180.35704)" fill="#ffdc62" />
        <circle cx="116.11417" cy="88.28592" r="6" fill="#3f3d56" />
        <path d="M446.96476,220.63082,383.59171,247.73a3.99993,3.99993,0,0,1-3.12744.00757l-64.23193-27.09882a3.92451,3.92451,0,0,1-1.9126-1.68109,3.997,3.997,0,0,0,1.9126,5.68109l64.23193,27.09882a3.99993,3.99993,0,0,0,3.12744-.00757l63.37305-27.09918a3.99713,3.99713,0,0,0,1.89453-5.67322A3.92676,3.92676,0,0,1,446.96476,220.63082Z" transform="translate(-228 -180.35704)" opacity="0.2" />
        <path d="M344.61832,268.61952a1,1,0,0,0,1-1V234.1581l32.9812-12.01514a1.00011,1.00011,0,0,0,.02979-2l-32.9812,12.01514a1.96167,1.96167,0,0,0-1.43335.57519,1.98569,1.98569,0,0,0-.59644,1.42481v33.46142A1.00005,1.00005,0,0,0,344.61832,268.61952Z" transform="translate(-228 -180.35704)" fill="#3f3d56" />
</svg>
      </div>
  </section>
  <section id="features" class="features">
    <div class="feature">
      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" class="feature__icon svg-inline--fa fa-star fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg>
      <h3 class="feature__title">Lorem Ipsum</h3>
      <p class="feature__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus sapien, gravida vel laoreet.</p>
    </div>
    <div class="feature">
      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="comment" class="feature__icon svg-inline--fa fa-comment fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M256 32C114.6 32 0 125.1 0 240c0 49.6 21.4 95 57 130.7C44.5 421.1 2.7 466 2.2 466.5c-2.2 2.3-2.8 5.7-1.5 8.7S4.8 480 8 480c66.3 0 116-31.8 140.6-51.4 32.7 12.3 69 19.4 107.4 19.4 141.4 0 256-93.1 256-208S397.4 32 256 32z"></path></svg>
      <h3 class="feature__title">Lorem Ipsum</h3>
      <p class="feature__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus sapien, gravida vel laoreet.</p>
    </div>
    <div class="feature">
      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="globe-americas" class="feature__icon svg-inline--fa fa-globe-americas fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512"><path fill="currentColor" d="M248 8C111.03 8 0 119.03 0 256s111.03 248 248 248 248-111.03 248-248S384.97 8 248 8zm82.29 357.6c-3.9 3.88-7.99 7.95-11.31 11.28-2.99 3-5.1 6.7-6.17 10.71-1.51 5.66-2.73 11.38-4.77 16.87l-17.39 46.85c-13.76 3-28 4.69-42.65 4.69v-27.38c1.69-12.62-7.64-36.26-22.63-51.25-6-6-9.37-14.14-9.37-22.63v-32.01c0-11.64-6.27-22.34-16.46-27.97-14.37-7.95-34.81-19.06-48.81-26.11-11.48-5.78-22.1-13.14-31.65-21.75l-.8-.72a114.792 114.792 0 0 1-18.06-20.74c-9.38-13.77-24.66-36.42-34.59-51.14 20.47-45.5 57.36-82.04 103.2-101.89l24.01 12.01C203.48 89.74 216 82.01 216 70.11v-11.3c7.99-1.29 16.12-2.11 24.39-2.42l28.3 28.3c6.25 6.25 6.25 16.38 0 22.63L264 112l-10.34 10.34c-3.12 3.12-3.12 8.19 0 11.31l4.69 4.69c3.12 3.12 3.12 8.19 0 11.31l-8 8a8.008 8.008 0 0 1-5.66 2.34h-8.99c-2.08 0-4.08.81-5.58 2.27l-9.92 9.65a8.008 8.008 0 0 0-1.58 9.31l15.59 31.19c2.66 5.32-1.21 11.58-7.15 11.58h-5.64c-1.93 0-3.79-.7-5.24-1.96l-9.28-8.06a16.017 16.017 0 0 0-15.55-3.1l-31.17 10.39a11.95 11.95 0 0 0-8.17 11.34c0 4.53 2.56 8.66 6.61 10.69l11.08 5.54c9.41 4.71 19.79 7.16 30.31 7.16s22.59 27.29 32 32h66.75c8.49 0 16.62 3.37 22.63 9.37l13.69 13.69a30.503 30.503 0 0 1 8.93 21.57 46.536 46.536 0 0 1-13.72 32.98zM417 274.25c-5.79-1.45-10.84-5-14.15-9.97l-17.98-26.97a23.97 23.97 0 0 1 0-26.62l19.59-29.38c2.32-3.47 5.5-6.29 9.24-8.15l12.98-6.49C440.2 193.59 448 223.87 448 256c0 8.67-.74 17.16-1.82 25.54L417 274.25z"></path></svg>
      <h3 class="feature__title">Lorem Ipsum</h3>
      <p class="feature__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus sapien, gravida vel laoreet.</p>
    </div>
    <div class="feature">
      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="brain" class="feature__icon svg-inline--fa fa-brain fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M208 0c-29.9 0-54.7 20.5-61.8 48.2-.8 0-1.4-.2-2.2-.2-35.3 0-64 28.7-64 64 0 4.8.6 9.5 1.7 14C52.5 138 32 166.6 32 200c0 12.6 3.2 24.3 8.3 34.9C16.3 248.7 0 274.3 0 304c0 33.3 20.4 61.9 49.4 73.9-.9 4.6-1.4 9.3-1.4 14.1 0 39.8 32.2 72 72 72 4.1 0 8.1-.5 12-1.2 9.6 28.5 36.2 49.2 68 49.2 39.8 0 72-32.2 72-72V64c0-35.3-28.7-64-64-64zm368 304c0-29.7-16.3-55.3-40.3-69.1 5.2-10.6 8.3-22.3 8.3-34.9 0-33.4-20.5-62-49.7-74 1-4.5 1.7-9.2 1.7-14 0-35.3-28.7-64-64-64-.8 0-1.5.2-2.2.2C422.7 20.5 397.9 0 368 0c-35.3 0-64 28.6-64 64v376c0 39.8 32.2 72 72 72 31.8 0 58.4-20.7 68-49.2 3.9.7 7.9 1.2 12 1.2 39.8 0 72-32.2 72-72 0-4.8-.5-9.5-1.4-14.1 29-12 49.4-40.6 49.4-73.9z"></path></svg>
      <h3 class="feature__title">Lorem Ipsum</h3>
      <p class="feature__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus sapien, gravida vel laoreet.</p>
    </div>
    <div class="feature">
      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="tachometer-alt" class="feature__icon svg-inline--fa fa-tachometer-alt fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M288 32C128.94 32 0 160.94 0 320c0 52.8 14.25 102.26 39.06 144.8 5.61 9.62 16.3 15.2 27.44 15.2h443c11.14 0 21.83-5.58 27.44-15.2C561.75 422.26 576 372.8 576 320c0-159.06-128.94-288-288-288zm0 64c14.71 0 26.58 10.13 30.32 23.65-1.11 2.26-2.64 4.23-3.45 6.67l-9.22 27.67c-5.13 3.49-10.97 6.01-17.64 6.01-17.67 0-32-14.33-32-32S270.33 96 288 96zM96 384c-17.67 0-32-14.33-32-32s14.33-32 32-32 32 14.33 32 32-14.33 32-32 32zm48-160c-17.67 0-32-14.33-32-32s14.33-32 32-32 32 14.33 32 32-14.33 32-32 32zm246.77-72.41l-61.33 184C343.13 347.33 352 364.54 352 384c0 11.72-3.38 22.55-8.88 32H232.88c-5.5-9.45-8.88-20.28-8.88-32 0-33.94 26.5-61.43 59.9-63.59l61.34-184.01c4.17-12.56 17.73-19.45 30.36-15.17 12.57 4.19 19.35 17.79 15.17 30.36zm14.66 57.2l15.52-46.55c3.47-1.29 7.13-2.23 11.05-2.23 17.67 0 32 14.33 32 32s-14.33 32-32 32c-11.38-.01-20.89-6.28-26.57-15.22zM480 384c-17.67 0-32-14.33-32-32s14.33-32 32-32 32 14.33 32 32-14.33 32-32 32z"></path></svg>
      <h3 class="feature__title">Lorem Ipsum</h3>
      <p class="feature__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus sapien, gravida vel laoreet.</p>
    </div>
    <div class="feature">
      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="smile" class="feature__icon svg-inline--fa fa-smile fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512"><path fill="currentColor" d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm80 168c17.7 0 32 14.3 32 32s-14.3 32-32 32-32-14.3-32-32 14.3-32 32-32zm-160 0c17.7 0 32 14.3 32 32s-14.3 32-32 32-32-14.3-32-32 14.3-32 32-32zm194.8 170.2C334.3 380.4 292.5 400 248 400s-86.3-19.6-114.8-53.8c-13.6-16.3 11-36.7 24.6-20.5 22.4 26.9 55.2 42.2 90.2 42.2s67.8-15.4 90.2-42.2c13.4-16.2 38.1 4.2 24.6 20.5z"></path></svg>
      <h3 class="feature__title">Lorem Ipsum</h3>
      <p class="feature__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus sapien, gravida vel laoreet.</p>
    </div>
  </section>
  <section class="opinions" id="opinions">
    <div class="opinions__text">
      <h2>Everyone Loves Us!</h2>
      <h4>Nullam ac felis sapien. Aliquam varius ante quis odio. Mauris pharetra sapien vel tortor eleifend aliquam. Proin tristique lobortis tortor eu dictum. Morbi ut mauris at ligula lobortis egestas ut in orci. </h4>
      <a href="/register"><button class="invert-colors">Register</button></a>
    </div>
    <div class="splide opinions__slider">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide">
            <div class="opinion">
              <img src="/images/user-3.png" class="opinion__image">
              <h3 class="opinion__title">Steven Jobsen</h3>
              <p class="opinion__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus sapien, gravida vel laoreet.</p>
            </div>
          </li>
          <li class="splide__slide">
            <div class="opinion">
              <img src="/images/user-2.png" class="opinion__image">
              <h3 class="opinion__title">Steven Jobsen</h3>
              <p class="opinion__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus sapien, gravida vel laoreet.</p>
            </div>
          </li>
          <li class="splide__slide">
            <div class="opinion">
              <img src="/images/user-1.png" class="opinion__image">
              <h3 class="opinion__title">Steven Jobsen</h3>
              <p class="opinion__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus sapien, gravida vel laoreet.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section id="contact" class="contact">
    <form class="contact-form" action="/send-message" method="post">
        <label for="input--name">Name</label>
        <input type="text" id="input--name" name="name"/>
        <label for="input--email">Email</label>
        <input type="email" id="input--email" name="email"/>
        <label for="input--subject">Subject</label>
        <input type="text" id="input--subject" name="subject"/>
        <label for="input--message">Your message</label>
        <textarea rows="9" id="input--message" name="message"></textarea>
        <% if (messageSuccess.length > 0) { %>
          <h5 class="success"><%=messageSuccess%></h5>
        <% } %>
        <% if (messageError.length > 0) { %>
          <h5 class="error"><%=messageError%></h5>
        <% } %>
        <button type="submit" class="invert-colors">Send</button>
    </form>
    
<svg id="acfbc938-e2dc-4f86-bbdc-1a249e77319a" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="643.16234" height="528" viewBox="0 0 643.16234 528"><path d="M749.17736,620.67715a31.51714,31.51714,0,0,0,30.4345-5.36117c10.65986-8.94708,14.002-23.68733,16.72142-37.336l8.04348-40.37019L787.5369,549.205c-12.11023,8.33865-24.49328,16.94444-32.87836,29.02256s-12.04517,28.56585-5.308,41.63494" transform="translate(-278.41883 -186)" fill="#e6e6e6"/><path d="M750.61682,669.55367c-1.70442-12.415-3.457-24.98956-2.26145-37.53768,1.06179-11.14409,4.46168-22.02873,11.38342-30.95339a51.49158,51.49158,0,0,1,13.21089-11.97129c1.3211-.83387,2.537,1.25978,1.22167,2.09a48.95186,48.95186,0,0,0-19.363,23.36288c-4.21559,10.72234-4.89255,22.41059-4.1661,33.8008.43931,6.88809,1.37037,13.731,2.30861,20.5652a1.25406,1.25406,0,0,1-.84528,1.48875,1.21764,1.21764,0,0,1-1.48875-.84529Z" transform="translate(-278.41883 -186)" fill="#f2f2f2"/><path d="M767.03348,647.58491a23.20063,23.20063,0,0,0,20.2149,10.43338c10.23314-.48578,18.7643-7.62786,26.444-14.40842l22.7149-20.05553-15.0335-.71945c-10.8112-.51739-21.90132-1-32.19862,2.334s-19.794,11.35766-21.67692,22.01619" transform="translate(-278.41883 -186)" fill="#e6e6e6"/><path d="M745.8,676.6905c8.20362-14.51579,17.7191-30.64843,34.72168-35.80468a38.74561,38.74561,0,0,1,14.60449-1.50794c1.55057.1337,1.16338,2.52385-.38437,2.39039a35.99577,35.99577,0,0,0-23.30647,6.166c-6.57155,4.47307-11.68821,10.69183-16.01891,17.28653-2.65268,4.03945-5.02878,8.25028-7.40534,12.45545-.7595,1.34389-2.97945.3738-2.21108-.98579Z" transform="translate(-278.41883 -186)" fill="#f2f2f2"/><path d="M543.6065,574.714a62.11581,62.11581,0,0,1-59.982-10.5661c-21.00905-17.63341-27.596-46.68433-32.95552-73.584Q442.74266,450.78194,434.81638,411l33.189,22.85267c23.86752,16.43428,48.27274,33.39506,64.79853,57.19932s23.73932,56.29918,10.46133,82.0565" transform="translate(-278.41883 -186)" fill="#e6e6e6"/><path d="M540.76952,671.0426c3.35917-24.46828,6.81327-49.25085,4.457-73.98141-2.09263-21.96339-8.79332-43.41546-22.43508-61.00469a101.48234,101.48234,0,0,0-26.03679-23.5937c-2.60369-1.64344-5.00008,2.48285-2.40773,4.11913a96.477,96.477,0,0,1,38.16172,46.04488c8.30833,21.1322,9.64253,44.16807,8.2108,66.61655-.86582,13.57543-2.70081,27.06191-4.54995,40.53107a2.47156,2.47156,0,0,0,1.66593,2.9341,2.39976,2.39976,0,0,0,2.9341-1.66593Z" transform="translate(-278.41883 -186)" fill="#f2f2f2"/><path d="M508.41464,627.74531A45.72508,45.72508,0,0,1,468.574,648.308c-20.168-.9574-36.98175-15.03342-52.11726-28.39692l-44.76782-39.52659,29.62888-1.41793c21.30733-1.01969,43.16436-1.97084,63.45886,4.6s39.01115,22.38432,42.72212,43.39076" transform="translate(-278.41883 -186)" fill="#e6e6e6"/><path d="M550.26275,685.10826c-16.16816-28.60854-34.92182-60.40367-68.43147-70.5659a76.36216,76.36216,0,0,0-28.78336-2.97193c-3.05594.2635-2.29284,4.97414.75755,4.71112a70.94251,70.94251,0,0,1,45.93372,12.15238c12.95157,8.81578,23.03578,21.07206,31.571,34.06927,5.22806,7.96119,9.911,16.26013,14.59488,24.54792,1.49686,2.6486,5.87207.7367,4.35771-1.94286Z" transform="translate(-278.41883 -186)" fill="#f2f2f2"/><path d="M425.47233,297.79377,286.264,268.6283l-1.80908-.37811a5.00221,5.00221,0,0,0-5.5033,7.13867L334.818,387.16057a5.01834,5.01834,0,0,0,3.74359,2.70708,4.96814,4.96814,0,0,0,4.37012-1.52751l38.101-40.65511a2.91032,2.91032,0,0,1,2.13318-.94676,3.01067,3.01067,0,0,1,2.68884,1.54207l7.93964,14.47938a4.88617,4.88617,0,0,0,5.486,2.4747l.039-.00886a4.893,4.893,0,0,0,3.84943-4.67026l1.37408-33.54053a3.05836,3.05836,0,0,1,.29987-1.20657,3.2543,3.2543,0,0,1,.78253-.978l22.01147-18.2886a5.0056,5.0056,0,0,0-2.16442-8.74782Zm.89209,7.21182L404.353,323.29413a4.93258,4.93258,0,0,0-.77392.79126l-117.54865-52.471a1.7431,1.7431,0,0,0-.32275-.11109,2.00254,2.00254,0,0,0-1.64795,3.57464l96.81213,70.23378a4.79568,4.79568,0,0,0-1.29956,1.00322l-38.10058,40.65487a3.00046,3.00046,0,0,1-4.8686-.70764L280.73685,274.4905a3.0078,3.0078,0,0,1,3.30286-4.27939l1.852.38872,139.16492,29.15495a3.0067,3.0067,0,0,1,1.30774,5.25075Z" transform="translate(-278.41883 -186)" fill="#ccc"/><path d="M425.47233,297.79377,286.264,268.6283l-1.80908-.37811a5.00221,5.00221,0,0,0-5.5033,7.13867L334.818,387.16057a5.01834,5.01834,0,0,0,3.74359,2.70708,4.96814,4.96814,0,0,0,4.37012-1.52751l38.101-40.65511a2.91032,2.91032,0,0,1,2.13318-.94676,3.01067,3.01067,0,0,1,2.68884,1.54207l7.93964,14.47938a4.88617,4.88617,0,0,0,5.486,2.4747l.039-.00886a4.893,4.893,0,0,0,3.84943-4.67026l1.37408-33.54053a3.05836,3.05836,0,0,1,.29987-1.20657,3.2543,3.2543,0,0,1,.78253-.978l22.01147-18.2886a5.0056,5.0056,0,0,0-2.16442-8.74782Zm.89209,7.21182-22.01148,18.28857a4.93258,4.93258,0,0,0-.77392.79126,4.6504,4.6504,0,0,0-.52747.838,4.7969,4.7969,0,0,0-.35706.95291l.00226.00975a4.7314,4.7314,0,0,0-.15124,1.04971l-1.3736,33.54043a2.90448,2.90448,0,0,1-2.30615,2.80134l-.01953.00446a2.91089,2.91089,0,0,1-3.29956-1.47486l-7.94184-14.4891a4.98945,4.98945,0,0,0-4.11511-2.58151l-.00952.00216c-.1142-.00473-.228-.00958-.3396-.00473a4.86594,4.86594,0,0,0-2.26868.57772,4.79584,4.79584,0,0,0-1.29956,1.00321l-38.10064,40.65488a3.00046,3.00046,0,0,1-4.8686-.70764L280.73685,274.4905a3.0078,3.0078,0,0,1,3.30286-4.27939l1.852.38872,139.16492,29.15495a3.0067,3.0067,0,0,1,1.30774,5.25075Z" transform="translate(-278.41883 -186)" fill="#3f3d56"/><path d="M404.024,324.2817l-.81537,1.82646-.51172-.22209-.00225-.00975L285.23917,273.456l98.24115,71.28274.00952-.00216.2602.19719-1.1698,1.61979-1.7082-1.24188-96.81219-70.23375a2.00254,2.00254,0,0,1,1.648-3.57465,1.74435,1.74435,0,0,1,.32275.1111l117.54859,52.471Z" transform="translate(-278.41883 -186)" fill="#3f3d56"/><path d="M706.25863,464.02l5.08008,49.67.1001,1.02,1.50976,14.73L725.349,650.72v.02l2.40967,23.53a28.067,28.067,0,0,0-2.48975,4.01,28.88245,28.88245,0,0,0,.83985,27.65q9.0747-2.28,17.8999-5.2a269.627,269.627,0,0,0,35.52-14.56,28.91316,28.91316,0,0,0-9.71-16.85l-12.4502-149.59-1.08984-13.12-3.54981-42.59Z" transform="translate(-278.41883 -186)" fill="#ffb8b8"/><circle cx="695.37435" cy="282.24673" r="65.74745" transform="translate(-274.32698 388.37207) rotate(-45)" fill="#ffb8b8"/><path d="M572.82845,553.61c.01026.13.02051.26.03028.38a12.06566,12.06566,0,0,0,9.43017,10.76l98.11963,21.43a12.14939,12.14939,0,0,0,2.59033.28,12.02743,12.02743,0,0,0,11.58985-8.83c.21-.78.43994-1.58.68994-2.41v-.01c3.31006-11.24,9.22021-26.54,17.66992-45.77q2.86524-6.525,6.12988-13.67c.40039-.88.81006-1.77,1.21045-2.66q6.73462-14.625,15.02979-31.66a78.80457,78.80457,0,0,0,6.08984-17.43,79.68854,79.68854,0,0,0-4.02978-47.63,78.70089,78.70089,0,0,0-4.3501-8.95,80.05576,80.05576,0,0,0-63.33984-40.31c-2.07032-.17-4.12989-.25-6.2002-.25a80.49765,80.49765,0,0,0-55.48975,22.52,78.57059,78.57059,0,0,0-19.51025,30.58c-.25977.73-.5,1.47-.73975,2.21a297.57358,297.57358,0,0,0-8.88037,35.72c-1.32959,7.17005-2.40967,14.24-3.27978,21.13A435.95285,435.95285,0,0,0,572.82845,553.61Z" transform="translate(-278.41883 -186)" fill="#ffdc62"/><path d="M529.61849,679.25a266.03851,266.03851,0,0,0,196.49024,26.68q9.0747-2.28,17.8999-5.2A447.40166,447.40166,0,0,0,725.349,650.74v-.02C713.32845,623.77,702.2889,607.28,696.90853,600a9.35191,9.35191,0,0,1-1.33008-8.49l1.67041-5.01a12.02137,12.02137,0,0,0-1.97021-11.28v-.01c-.10986-.14-.23-.28-.3501-.42-43.71-49.8-119.90967-22.63-120.67969-22.35l-.38037.14-.23974.33c-.26026.36005-.52.71-.77,1.08C552.19857,582.94,538.46859,627.44,529.61849,679.25Z" transform="translate(-278.41883 -186)" fill="#2f2e41"/><path d="M439.773,358.61929a28.17863,28.17863,0,0,1,.64058,4.39047l114.99285,66.33892L583.35708,413.258l29.797,39.00854-46.71284,33.29408a21.41521,21.41521,0,0,1-25.69341-.626L422.17043,391.38812A28.0997,28.0997,0,1,1,439.773,358.61929Z" transform="translate(-278.41883 -186)" fill="#ffb8b8"/><path d="M557.16879,428.33v.01a12.00147,12.00147,0,0,0,2.08007,4.15l19.61963,25.42,9.3501,12.13,8.2002,10.62a12.04355,12.04355,0,0,0,18.21,1l29.77978-30.92,12.29-12.77a33.45464,33.45464,0,0,0-41.02-52.86l-7.67969,4.29-45.09033,25.22a12.07049,12.07049,0,0,0-5.73974,13.71Z" transform="translate(-278.41883 -186)" fill="#ffdc62"/><path d="M687.22884,444.27l1.87989,60.05.00976.38a12.04244,12.04244,0,0,0,14.18018,11.48l8.14014-1.47,2.08007-.38h.00977l6.76025-1.22,35.98975-6.5,6.89014-1.24a12.05732,12.05732,0,0,0,9.27-15.71l-19.41016-57.47a33.44987,33.44987,0,0,0-65.79981,12.08Z" transform="translate(-278.41883 -186)" fill="#ffdc62"/><path d="M684.96813,267.124c-16.89851,11.56558-39.08664,23.45431-56.34585,11.13792-11.33271-8.08717-14.9033-23.06272-10.30768-36.20474,8.26428-23.63319,30.97022-34.03763,52.68281-42.01285,28.22634-10.36778,58.96069-18.61581,88.09981-11.19092s54.89148,35.63736,49.63132,65.24391c-4.23012,23.809-26.68869,43.61991-23.50043,67.59065,3.20873,24.12463,30.33945,36.82317,54.29156,41.13482s50.75507,5.697,67.96851,22.90143c21.95889,21.94736,16.47537,61.17588-4.18705,84.34794s-51.8431,33.67573-82.05721,40.81626c-40.03183,9.46075-83.3294,14.43278-121.34952-1.26828s-67.6069-57.96651-56.59308-97.59918c4.65222-16.74079,15.61146-30.889,26.203-44.66279s21.31643-28.17709,25.3566-45.076c3.36682-14.08244.87489-30.43285-8.46386-40.9963a11.87754,11.87754,0,0,1-1.59114-13.88358Z" transform="translate(-278.41883 -186)" fill="#2f2e41"/></svg>
  </section>
</main>

<script>
new Splide( '.splide', {
  autoHeight: true,
  rewind: true,
  padding: '5rem 0',
  arrows: false
} ).mount();
</script>

<%- include('../partials/footer') %>
